#setup
  %div
    Rows:
    = select_tag :row_count, options_for_select([3,4,5,6,7,8,9,10], 5)
  %div
    Memorization:
    = select_tag :minutes, options_for_select([1,3,4,5,6,7,8,9,10,11,12,13,14,15], 5)
    minutes.
  %div
    Recall time:
    = select_tag :recall_minutes, options_for_select([1,5,6,7,8,9,10,11,12,13,14,15], 10)
    minutes.
  %div
    = button_to_function "Go!", "startGame()"
#play_info
  #timer
#numbers

#number_actions
  #results
    
  %div= button_to_function "Start guessing", "startGuessing()"
  %div= button_to_function "Check score", "checkScore()"

#footer
  %div= link_to "Created by Cory Forsyth", "http://twitter.com/bantic"
  
  %div= link_to "Open Source", "https://github.com/bantic/memory-numbers"